{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "embeddedLanguageFormatting": "off",
  "trailingComma": "none",
  "overrides":
    [
      {
        "files": "*.hbs",
        "options": { "parser": "babel", "embeddedLanguageFormatting": "off" }
      }
    ]
}
